@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Jost:wght@400;500;600;700&display=swap');

:root {

    --container-color: #1d222a;
    --primary-color: #29a385;
    --title-color: #fff;
    --text-color: #ebebeb;
    --bg-color: #212730;
    --bg-color-alt: #30353b;
    --border-color: #a4a6a8;
    --first-gradient: linear-gradient (0deg,
            var(--bg-color-alt) 0%,
            var(--bg-color) 100%,
        );

    --second-gradient: linear-gradient (180deg,
            var(--bg-color-alt) 0%,
            var(--bg-color) 100%,
        );

    --third-gradient: linear-grathirddient (180deg,
            var(--bg-color) 0%,
            var(--bg-color) 100%,
        );


    --primary-font: 'Jost', sans-serif;
    --secondary-font: 'Caveat', cursive;

    --big-font-size: 70px;
    --largest-font-size: 21px;
    --larger-font-size: 20px;
    --large-font-size: 18px;
    --normal-font-size: 16px;
    --small-font-size: 15px;
    --smaller-font-size: 14px;
    --tiny-font-size: 13px;
    --h1-font-size: 44px;
    --h2-font-size: 30px;
    --h3-font-size: 28px;
    --h4-font-size: 24px;
    --h5-font-size: 22px;


    --shadow: 0 4px rgb(255 255 255 /10%);

    --transition: cubic-bezier(0.3, 0, 0.3, 1)
}

/* responsive */

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 600px) {

    :root {
        --h1-font-size: 32px;
        --h2-font-size: 28px;
        --h3-font-size: 26px;
    }
}

/* light theme */

.light-theme {
    --container-color: #fff;
    --title-color: #000;
    --text-color: #262626;
    --bg-color: #f0ebe3;
    --bg-color-alt: #fef6ec;
    --border-color: #000;
}

.light-theme .skills__bar {
    background-color: rgba(0, 0, 0, 0.1);
}

.light-theme .skills__percentage {
    background-color: var(--border-color);
}

.light-theme .skills__percentage span {
    background-color: var(--primary-color);
}

.dark-theme .shape {
    filter: invert(1);
    opacity: 0.6;
}


/* common  */


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
body {
    font-family: var(--primary-font);
    font-size: var(--normal-font-size);

}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}



h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: 700;
}

ul {
    list-style: none;
}

p {
    line-height: 1.7;
}

a {
    text-decoration: none;
}

input,
textarea,
button {
    border: none;
    outline: none;
    background: transparent;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
}

/*  */


.container {
    max-width: 1300px;
    padding: 0 12px;
    margin: 0 auto;
}

.grid {
    display: grid;
    gap: 24px;
}

.text-css {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.btn,
.hero__link {
    position: relative;
    color: var(--title-color);
    font-size: var(--tiny-font-size);
    font-weight: 700;
    height: 56px;
    display: grid;
    place-items: center;
}

.btn {
    border: 2px solid var(--border-color);
    padding: 0 40px;
    border-radius: 56px;
    box-shadow: var(--shadow);
}

.btn::before {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: var(--primary-color);
    border-radius: inherit;
    transform: scale(0.2);
    filter: blur(10px);
    opacity: 0;
    transition: all 0.7s var(--transition);
    z-index: -1;
}

.btn:hover::before {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
}

.shape {
    position: absolute;

}

.section {
    padding-bottom: 120px;
}

.section__title,
.section__subtitle {
    text-align: center;
}

.section__title {
    font-size: var(--h1-font-size);
}

.section__subtitle {
    color: var(--primary-color);
    font-size: var(--smaller-font-size);
    font-weight: 700;
    margin-bottom: 60px;
}

.section__subtitle span {
    font-family: var(--secondary-font);
    color: var(--title-color);
    font-size: var(--h3-font-size);
    margin-left: 10px;
}

.card {
    background-color: var(--container-color);
    overflow: hidden;
    text-align: left;
    position: relative;
}

.card-one {
    padding: 30px 35px;
    border-radius: 18px;
}

.card-two {
    padding: 30px;
    border-radius: 20px;
}

.link {
    display: inline-flex;
    align-items: center;
    color: var(--title-color);
    font-weight: 700;
}

.link__icon {
    color: var(--primary-color);
    margin-left: 15px;
    transition: all 0.3s var(--transition);
}

.link:hover .link__icon {
    margin-left: 20px;
}

.c__shape {
    bottom: -24px;
    right: -24px;
    width: 141px;
    height: 141px;
}